<h1>About</h1>
<p>此內容管理系統以 <a href="https://github.com/mdecourse/cmsimde">https://github.com/mdecourse/cmsimde</a> 作為 submodule 運作, 可以選定對應的版本運作, cmsimde 可以持續改版, 不會影響之前設為 submodule, 使用舊版 cmsimde 模組的內容管理相關運作.</p>
<h4>利用 cmsimde 建立靜態網誌方法:</h4>
<p>1. 在 github 建立倉儲, git clone 到近端</p>
<p>2. 參考 <a href="https://github.com/mdecourse/newcms">https://github.com/mdecourse/newcms</a>, 加入除了 cmsimde 目錄外的所有內容</p>
<p>以 git submodule add <a href="https://github.com/mdecourse/cmsimde">https://github.com/mdecourse/cmsimde</a> cmsimde</p>
<p>建立 cmsimde 目錄, 並從 github 取下子模組內容.</p>
<p>3.在近端維護時, 更換目錄到倉儲中的 cmsimde, 以 python wsgi.py 啟動近端網際伺服器.</p>
<p>動態內容編輯完成後, 以 generate_pages 轉為靜態內容, 以 git add commit 及 push 將內容推到遠端.</p>
<p>4. 之後若要以 git clone 取下包含 submodule 的所有內容, 執行:</p>
<p>git clone --recurse-submodules <a href="https://github.com/mdecourse/newcms.git">https://github.com/mdecourse/newcms.git</a></p>
<h2>Develop</h2>
<p><a href="https://github.com/mdecourse/cmsimde">https://github.com/mdecourse/cmsimde</a> 的開發, 可以在一個目錄中放入 cmsimde, 然後將 up_dir 中的內容放到與 cmsimde 目錄同位階的地方, 使用 command 進入 cmsimde 目錄, 執行 python wsgi.py, 就可以啟動, 以瀏覽器 https://localhost:9443 就可以連接, 以 admin 作為管理者密碼, 就可以登入維護內容.</p>
<p>cmsimde 的開發採用 Leo Editor, 開啟 cmsimde 目錄中的 cmsimde.leo 就可以進行程式修改, 結束後, 若要保留網際內容, 只要將 cmsimde 外部的內容倒回 up_dir 目錄中即可後續對 cmsimde 遠端倉儲進行改版.</p>
<p>init.py 位於  up_dir 目錄, 可以設定 site_title 與 uwsgi 等變數.</p>
<p><br/><br/><br/><br/><br/><br/><br/><br/></p>
<h1>hw1</h1>
<h2>pch4 computer cases</h2>
<p>從外部看，幾乎所有計算機在很長一段時間內看起來都是一樣的，但是現代系統確實改變了可用機箱的大小和形狀。<br/>From the outside, almost all computers looked the same for a long time, but contemporary systems have really changed the size and shape of the cases available. <br/>服務器通常裝在非常狹長的情況下，大小通常從一個單位高（幾英寸）到兩個單位高（約6-8英寸）不等。這些情況中的每一種都為我們提供了可接受的主板佈局。此佈局稱為形狀因數。較大的機箱尺寸允許使用其他設備（例如硬盤驅動器和光盤驅動器）。案例的類型將取決於客戶的需求。<br/>Servers are often contained in very long and narrow cases that usually range in size from one unit tall (a few inches) to two units tall (about 6-8 inches). Each of these cases provide us with a distinct layout of the motherboard they will accept. This layout is called a form factor. Larger case sizes allow for additional devices (such as hard disk drives and optical drives). The type of case will depend on the customer’s needs.</p>
<p><img alt="ATX" caption="false" height="126" src="/images/image2.png" width="141"/></p>
<p><br/><br/><br/><br/>主板和處理器<br/>構成因素<br/>母板的尺寸和排列方式描述為外形尺寸。 ATX規格是現代計算機中使用最廣泛的規格之一。自1990年代以來一直在使用。 ATX外形尺寸包含一個用於集成端口（音頻，視頻，聲音，網絡等）的後端口群集。擴展插槽平行於電路板的短邊，並且機箱的左側殼體開口可輕鬆添加擴展卡。<br/>Motherboards and Processors<br/>Form Factor<br/>The size and arrangement of the motherboard is described as the form factor. The ATX form factor is one of the most widely used form factors in contemporary computers. It has been in use since the 1990s. The ATX form factor contains a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards.</p>
<p>包含用於集成端口（音頻，視頻，聲音，網絡等）的後端口群集的母板的照片。擴展插槽平行於板子的短邊，並且機箱的左側殼體開口可輕鬆添加擴展卡。<br/>Photograph of a motherboard containing a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards.<br/>ITX尺寸規格本身並不十分流行，但是一個名為mini-ITX的變體就變得非常流行，因為它也適用於ATX風格的機殼。它還為集成端口（音頻，視頻，聲音，網絡等）包含一個後部端口集群。擴展插槽平行於板子的短邊延伸，並且外殼具有左側的外殼開口，以支持輕鬆添加擴展卡，就像ATX板一樣。較小的變體，稱為pico-ITX和nano-ITX，通常用於計算設備中，例如智能電視，旨在與電視機集成的連接互聯網的機頂盒設備等。<br/>The ITX form factor itself was not very popular, but a variant called the mini-ITX became quite popular, since it also fit into ATX-style cases. It also contains a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards, just like the ATX boards. Smaller variations, called pico-ITX and nano-ITX, are often used in computing appliances such as smart televisions, Internet-connected set-top devices designed to integrate with TV sets, and others.</p>
<p>迷你ATX尺寸比ATX尺寸小，但仍包含許多ATX功能，例如用於集成端口（音頻，視頻，聲音，網絡等）的後端口群集。擴展插槽平行於板子的短邊，並且機箱的左側殼體開口可輕鬆添加擴展卡。<br/>The mini-ATX form factor is smaller in size than the ATX form factor, but still contains many of the ATX features, such as a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards.</p>
<p>I / O端口<br/>後部端口集群為主板提供了專用於輸入和輸出端口的區域，這些區域已集成到主板的電路中。這使主板製造商可以為USB，以太網，音頻，鼠標/鍵盤端口，eSATA等提供板載服務。<br/>I/O Ports<br/>Rear port clusters provide an area of the motherboard dedicated to input and output ports, which are integrated into the motherboard’s circuitry. This allows the motherboard manufacturer to provide onboard services for things like USB, Ethernet, audio, mouse/keyboard ports, eSATA, and more.</p>
<p><strong><a tabindex=""><img alt="I/O Port" height="238" src="/images/image5.png" width="780"/></a></strong></p>
<h2><strong>power supplies</strong></h2>
<p>所有計算機系統都需要電源單元（PSU），因為計算機被設計為以直流電（DC）運行，但是我們的家庭和辦公室插座僅提供交流電（AC）。<br/>Power supply units (PSUs) are required in all computer systems, since computers are designed to run on direct current (DC), but our home and office outlets only provide alternating current (AC).</p>
<p><img alt="" height="215" src="/images/image6.png" width="270"/><br/>PSU將交流輸入轉換為直流輸出，並在必要的電壓下將其輸入計算機的各個子系統。 PSU在從AC轉換為DC的過程中會產生熱量。因此，良好的電源風扇對於消除PSU和計算機系統的熱量至關重要。電源是一個現場可更換單元（FRU），應進行更換（切勿修理），因為在拔下PSU後電容器將保持良好的電壓。<br/> The PSU converts the AC input into DC output to the various subsystems of the computer at the necessary voltages. The PSU creates heat in this transformation from AC to DC. Therefore, a good power supply fan is essential to remove the heat from the PSU and computer system. A power supply is a field replaceable unit (FRU) and should be replaced — never repaired — because the capacitors will hold voltage well after the PSU has been unplugged.</p>
<p></p>
<p>當今大多數計算機都是在世界各地以不同的電壓構建的。在美國，功率在60赫茲的115-120 VAC（交流電壓）下輸送。在歐洲和亞洲，典型的壁裝電源插座以50赫茲提供230-240 VAC。如果電源支持雙電壓，則需要確保選擇正確的設置。在這種情況下，應該有一個滑塊按鈕，可讓您選擇合適的電壓。在將電源插頭插入牆上之前，請將按鈕滑至適當的電壓，否則可能損壞計算機。<br/>Most of today’s computers are built around the world with different voltages. In the United States, power is delivered at 115–120 VAC (voltage alternating current) at 60 hertz. In Europe and Asia, the typical wall outlet provides 230–240 VAC at 50 hertz. If the power supply supports dual voltage, you need to ensure the correct setting is selected. In that situation, there should be a slider button that allows you to select the proper voltage. Slide the button to the appropriate voltage before plugging the power supply into the wall or damage to the computer can occur.</p>
<p><strong><img alt="" height="166" src="/images/image9.png" width="255"/></strong></p>
<br/>power supply connectors<strong></strong>
<p>ATX 12V 2.x電源通過24針電纜+ 4針/ 8針（用於CPU）和6或8針（用於PCIe視頻）連接到主板<br/>ATX 12V 2.x power supplies connect to the motherboard by way of a 24-pin cable + 4-pin/8-pin for CPU and 6- or 8-pin for PCIe video.</p>
<p>“雙軌” PSU的目的是分離並限制通過每條電線的電流，以避免過熱。<br/>The purpose of a "dual-rail" PSU is to separate and limit the current through each wire to avoid overheating.</p>
<p>由於CPU和PCIe電源要求的特性，ATX12V 2.x版取消了3.3V和5.5V供電軌，轉而採用12V供電軌。從2.x版開始的ATX標準都已經開發出來，以改善功率輸出。 12V雙軌PSU旨在限製過壓情況並防止過熱。<br/>ATX12V version 2.x eliminated the 3.3V and 5.5V rails in favor of 12V rails due to the nature of CPU and PCIe power requirements. The ATX standards from version 2.x on have all developed to improve power delivery. The 12V dual-rail PSU is designed to limit over voltage situations and protect against overheating.</p>
<table height="323" width="556">
<tbody>
<tr>
<td style="width: 176.8px;"></td>
<td style="width: 176.8px;"></td>
<td style="width: 182.4px;"></td>
</tr>
<tr>
<td style="width: 176.8px;"></td>
<td style="width: 176.8px;"></td>
<td style="width: 182.4px;"></td>
</tr>
<tr>
<td style="width: 176.8px;"></td>
<td style="width: 176.8px;"></td>
<td style="width: 182.4px;"></td>
</tr>
</tbody>
</table>
<p></p>
<p><strong></strong></p>
<p><strong></strong></p>